

.border{
	border-radius:5px;
	background-color:darkorange;
	color: black;
	
	
}
.jumbotron{
	background-color:#FFDEAD;
	}

.blue{
	background-color:lightgray;
}
.pad{
	padding-bottom:2px;
	padding-left:10px;

	}
.sidebar{
	background-color:#FFDEAD;
	height:125%;
	width: 110%;

}